<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <context:component-scan base-package="com.chnjan.activemq"></context:component-scan> -->
    
    <!-- 消息中间件厂商提供的连接工厂 -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    	<property name="brokerURL" value="tcp://127.0.0.1:61616"/>
    </bean>
    
    <!-- spring提供的管理连接工厂 -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
    	<property name="targetConnectionFactory" ref="amqConnectionFactory"></property>
    </bean>
    
    
    <!-- 目的地destination queue-->
    <bean id="testQueue" class="org.apache.activemq.command.ActiveMQQueue">
    	<property name="physicalName" value="test mq query"/>
    	<!-- <constructor-arg>
    		<value>test mq query</value>
    	</constructor-arg> -->
    </bean>
    
    <!-- 目的地destination topic-->
    <bean id="testTopic" class="org.apache.activemq.command.ActiveMQTopic">
    	<constructor-arg name="name" value="test mq topic"/>
    </bean>
    
    <!-- 自定义消息监听类 -->
   	<bean id="testListen" class="com.chnjan.activemq.listen.TestMessageListen"></bean>
   	<!-- 消息监听bean -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    	<!-- 连接工厂 -->
    	<property name="connectionFactory" ref="connectionFactory"/>
    	<!-- 监听的消息队列 -->
    	<property name="destination" ref="testQueue"/>
    	<!-- 自定义消息处理类 -->
    	<property name="messageListener" ref="testListen"/>
    </bean>
	
</beans>